<div class="corecreateschedule-230-10" name="Core@Createschedule">
 <div class="group-254-2" name="Group">
  <div class="group-254-3" name="Group">
   <div class="group-254-4" name="Group">
   </div>
   <div class="group-254-5" name="Group">
    <input name="radio_btn_name-254-5" type="radio"/>
    <label class="radio_btn_label-254-11" for="html">
     TRADITIONAL
    </label>
    <input name="radio_btn_name-254-5" type="radio"/>
    <label class="radio_btn_label-254-17" for="html">
     HYBRID
    </label>
    <input name="radio_btn_name-254-5" type="radio"/>
    <label class="radio_btn_label-254-23" for="html">
     OPTIMAL
    </label>
   </div>
  </div>
  <div class="group-254-24" name="Group">
   <div class="group-254-25" name="Group">
   </div>
   <div class="group-254-26" name="Group">
    <img class="vector-254-27" src="assets/images/Core/createschedule/vector-254_27.svg"/>
    <label class="text-254-36" type="text" value="Shift Distribution Types">
     Shift Distribution Types
    </label>
   </div>
  </div>
 </div>
 <div class="group-251-58" name="Group">
  <div class="group-251-59" name="Group">
  </div>
  <div class="group-251-60" name="Group">
   <input name="radio_btn_name-251-60" type="radio"/>
   <label class="radio_btn_label-251-66" for="html">
    Shift Distribution
   </label>
   <input name="radio_btn_name-251-60" type="radio"/>
   <label class="radio_btn_label-251-72" for="html">
    Case Volume prediction
   </label>
   <input name="radio_btn_name-251-60" type="radio"/>
   <label class="radio_btn_label-251-78" for="html">
    Both shift Distribution and case volume
   </label>
  </div>
 </div>
</div>
