

.corecreateschedule-230-10{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-254-2{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:272px; left: calc( ( ( 100% - 1440px) / 2 ) + 137px);background:''}

.group-254-3{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-254-4{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-254-5{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.radio_btn_label-254-11{
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold;
}

.radio_btn_label-254-17{
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold;
}

.radio_btn_label-254-23{
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold;
}

.group-254-24{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-254-25{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-254-26{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-254-27{
position: absolute;left: 0.0px; top: 0.0px; width: 28.0px; height: 28.0}

.text-254-36{
position: absolute;
left: 43.0px;
 top: 6.0px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-251-58{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:585px; left: calc( ( ( 100% - 1440px) / 2 ) + 137px);background:''}

.group-251-59{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-251-60{
position:absolute ;width: 864.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.radio_btn_label-251-66{
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold;
}

.radio_btn_label-251-72{
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold;
}

.radio_btn_label-251-78{
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold;
}