

.authenticationloginscout-310-2{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.group-310-3{
position:absolute ;width: 1449.056640625px; height: 1026.0px;  background-color: rgba(0,0,0,0.0);top:3px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-310-4{
position:absolute ;width: 1449.056640625px; height: 1026.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-310-5{
position: absolute;left: 0.0px; top: 0.0px; width: 1449.056640625px; height: 1026.0}

.group-310-13942{
position:absolute ;width: 1324.3585205078125px; height: 990.061767578125px;  background-color: rgba(0,0,0,0.0);top:29px; left: 102px;background:''}

.img-310-13943{
position: absolute;left: 544.0px; top: 0.0px; width: 781.0px; height: 990.061767578125px;}

.group-310-13944{
position:absolute ;width: 537.8380126953125px; height: 470.68505859375px;  background-color: rgba(0,0,0,0.0);top:255px; left: 0px;background:''}

.group-310-13945{
position:absolute ;width: 537.8380126953125px; height: 470.68505859375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 10.0px;box-shadow: 0.0px 8.0px 53.0px rgba(234, 255, 251, 1.0);background:''}

.group-310-13946{
position:absolute ;width: 77.00173950195312px; height: 115.04248046875px;  background-color: rgba(0,0,0,0.0);top:25px; left: 232px;background:''}

.text-310-13947{
position: absolute;
left: 14.176116943359375px;
 top: 90.0px;
 width: 49.30816650390625px;
 height: 26.0px;
font-size: 16.0px; color: rgba(0, 184, 149, 1.0); font-family: Poppins; font-weight: 400;
}

.vector-310-13948{
position: absolute;left: 0.0880126953125px; top: 0.95751953125px; width: 77.00173950195312px; height: 75.9561767578125}

.group-310-13952{
position:absolute ;width: 381.48394775390625px; height: 265.331787109375px;  background-color: rgba(0,0,0,0.0);top:146px; left: 80px;background:''}

.text-310-13953{
position: absolute;
left: 284.62213134765625px;
 top: 121.6878662109375px;
 width: 79.9161376953125px;
 height: 16.8172607421875px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;
}

.vector-310-13954{
position: absolute;left: 249.594482421875px; top: 122.450927734375px; width: 29.72955322265625px; height: 14.6629638671875}

.text-310-13958{
position: absolute;
left: 7.81365966796875px;
 top: 121.1890869140625px;
 width: 94.665283203125px;
 height: 17.66650390625px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;
}

.vector-310-13962{
position: relative; width: 17.0px; height: 19.0}

.btn-signinwithmicrosoft-13959{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.13836669921875px;
 top: 222.0px;
 width: 381.46636962890625px;
 height: 44.1453857421875px;
border-radius: 2.0px; background-color: rgba(46, 79, 139, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 500;
}

.btn-signin-13963{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.12078857421875px;
 top: 170.31787109375px;
 width: 381.46636962890625px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(0, 184, 149, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Hind Siliguri; text-transform: uppercase; font-weight: 500;
}

.text-typehere-13966{
position: absolute;
left: 0.120819091796875px;
 top: 89.9007568359375px;
 width: 369.7062072753906px;
 height: 30px;
border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-password-13966{
position: absolute;
left: 0.120819091796875px;
 top: 89.9007568359375px;
 width: 369.7062072753906px;
 height: 30px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-typehere-13971{
position: absolute;
left: 0.120819091796875px;
 top: 29.8370361328125px;
 width: 369.7062072753906px;
 height: 30px;
border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-username-13971{
position: absolute;
left: 0.120819091796875px;
 top: 29.8370361328125px;
 width: 369.7062072753906px;
 height: 30px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-310-13976{
position: absolute;
left: 287.7987365722656px;
 top: 712.0px;
 width: 168.05032348632812px;
 height: 17.0px;
font-size: 10.0px; color: rgba(46, 79, 139, 1.0); font-family: Poppins; font-weight: 400;
}

.vector-310-13977{
position: absolute;left: 82.0px; top: 62.0px; width: 158.0px; height: 49.0}