<div class="authenticationloginscout-310-2" name="Authentication@Login Scout">
 <div class="group-310-3" name="Group">
  <div class="group-310-4" name="Group">
   <img class="vector-310-5" src="assets/images/Authentication/login-scout/vector-310_5.svg"/>
  </div>
  <div class="group-310-13942" name="Group">
   <img class="img-310-13943" src="assets/images/Authentication/login-scout/img-310_13943.png"/>
   <div class="group-310-13944" name="Group">
    <div class="group-310-13945" name="Group">
    </div>
    <div class="group-310-13946" name="Group">
     <label class="text-310-13947" type="text" value="Login">
      Login
     </label>
     <img class="vector-310-13948" src="assets/images/Authentication/login-scout/vector-310_13948.svg"/>
    </div>
    <div class="group-310-13952" name="Group">
     <label class="text-310-13953" type="text" value="Remember me">
      Remember me
     </label>
     <img class="vector-310-13954" src="assets/images/Authentication/login-scout/vector-310_13954.svg"/>
     <label class="text-310-13958" type="text" value="Forgot Password?">
      Forgot Password?
     </label>
     <div class="button_re_modulesmicrosoft-310-13959" name="button_re_Modules@Microsoft">
      <div class="button_re_corecreateschedule-310-13963" name="button_re_Core@CreateSchedule">
       <input class="text-310-13966" placeholder="Password" type="text"/>
       <input class="text-310-13971" placeholder="Username" type="text"/>
      </div>
     </div>
    </div>
    <label class="text-310-13976" type="text" value="Don't have an account? Register">
     Don't have an account? Register
    </label>
   </div>
   <img class="vector-310-13977" src="assets/images/Authentication/login-scout/vector-310_13977.svg"/>
  </div>
 </div>
</div>
