

.modulesmicrosoft-322-3{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.img-322-9{
position: absolute;left: 218.0px; top: 67.0px; width: 898.0px; height: 700.0px;}